:root{
    --color-de-cuerpo-y-letra: #ebebeb;
    --color-de-cabecera-y-pie: #f2eb69;
    --color-de-borde: #333fff;
    --color-de-caja-y-titulo: #1f1f1f;
}

.modo-oscuro {
    --color-de-cuerpo-y-letra: #1f1f1f;
    --color-de-cabecera-y-pie: #333fff;
    --color-de-borde: #f2eb69;
    --color-de-caja-y-titulo: #ebebeb;
    transition: 0.3s ease;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    background-color: var(--color-de-cuerpo-y-letra);
    transition: 0.3s ease;
}

.cabecera {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: var(--color-de-caja-y-titulo);
    background-color: var(--color-de-cabecera-y-pie);
    border-bottom: 0.3rem solid var(--color-de-borde);
}

.cabecera__portada{
    display: flex;
    align-items: center;
}

.cabecera__logo{
    width: 5rem;
    height: 5rem;
    padding: 1rem;
}

.cabecera__modo-oscuro{
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    font-weight: bold;
}

.cabecera__boton-modo-oscuro{
    position: relative;
    width: 3.0rem;
    height: 2rem;
    background-color: var(--color-de-caja-y-titulo);
    border-radius: 2rem;
    cursor: pointer;
    appearance: none;
    outline: none;
    transition: 0.3s ease;
}

.cabecera__boton-modo-oscuro::before{
    position: absolute;
    width: 1.6rem;
    height: 1.6rem;
    top: 0.2rem;
    left: 0.2rem;
    background-color: var(--color-de-cuerpo-y-letra);
    border-radius: 50%;
    content: '';
    transition: 0.3s ease;
}

.cabecera__boton-modo-oscuro:checked::before{
    transform: translateX(0.8rem);
}

.cabecera__navegador{
    display: flex;
    position: relative;
    padding-right: 1rem;
    align-items: center;
    justify-content: space-between;
}

.cabecera__navegador .cabecera__casilla-menu {
    display: none;
}

.cabecera__navegador .cabecera__icono-menu {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.cabecera__icono-menu .cabecera__barra1, .cabecera__barra2, .cabecera__barra3 {
    width: 2.25rem;
    height: 0.4rem;
    margin: 0.3rem 0;
    background-color: var(--color-de-caja-y-titulo);
    transition: 0.4s;
}

.cabecera__casilla-menu:checked + .cabecera__icono-menu .cabecera__barra1 {
    transform: rotate(-45deg) translate(-0.5rem, 0.9rem);
}

.cabecera__casilla-menu:checked + .cabecera__icono-menu .cabecera__barra2 {
    opacity: 0;
}

.cabecera__casilla-menu:checked + .cabecera__icono-menu .cabecera__barra3 {
    transform: rotate(45deg) translate(-0.5rem, -0.9rem);
}

.cabecera__casilla-menu:checked ~ .cabecera__enlaces {
    display: flex;
}

.cabecera__enlaces {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 5rem;
    right: 0;
    font-weight: bold;
    background-color: var(--color-de-caja-y-titulo);
}

.cabecera__enlaces li {
    padding: 1rem;
    text-align: center;
    list-style-type: none;
    border-bottom: 0.1rem solid var(--color-de-cuerpo-y-letra);
}

.cabecera__enlaces li a {
    text-decoration: none;
    color: var(--color-de-cuerpo-y-letra);
}

.cuerpo, .cuerpo3, .cuerpo4{
    display: flex;
    flex-direction: column;
    height: auto;
    margin: 2rem;
    align-items:center;
    text-align: center;
}

.cuerpo2{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 2rem;
    align-items:center;
    text-align: center;
}

.cuerpo__titulo, .cuerpo2__titulo, .cuerpo3__titulo, .cuerpo4{
    font-size: 4rem;
    color: var(--color-de-caja-y-titulo);
}

.cuerpo__caja, .cuerpo3__caja{
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: 2rem;
    padding: 2rem;
    color: var(--color-de-cuerpo-y-letra);
    background-color: var(--color-de-caja-y-titulo);
    border: 0.5rem solid var(--color-de-borde);
    border-radius: 1rem;
}

.cuerpo__subtitulo, .cuerpo3__subtitulo{
    font-size: 2rem;
}

.cuerpo__texto, .cuerpo3__texto, .cuerpo__imagen-caja, .cuerpo3__imagen-caja{
    padding-top: 2rem;
}

.cuerpo__imagen, .cuerpo3__imagen{
    border: 0.5rem solid var(--color-de-borde);
    border-radius: 2rem;
}

.cuerpo__imagen{
    width: 100%;
}

.cuerpo3__imagen {
    width: 25%;
}

/*MEJORAR PERSONALIZACION*/
.cuerpo2__filtros {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: 2rem;
    padding: 2rem;
    color: var(--color-de-cuerpo-y-letra);
    background-color: var(--color-de-caja-y-titulo);
    border: 0.5rem solid var(--color-de-borde);
    border-radius: 1rem;
}
/*-----------------------*/

.cuerpo2__productos{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.cuerpo2__filtro{
    padding: 1rem 1rem 1rem 1rem;
    margin: 1rem 1rem 1rem 1rem;
    text-align: center;
    align-items: center;
    font-weight: bold;
    text-decoration: none;
    color: var(--color-de-caja-y-titulo);
    background-color: var(--color-de-cuerpo-y-letra);
    border: 0.5rem solid var(--color-de-caja-y-titulo);
    border-radius: 2rem;
    transition: transform 0.3s ease,  color 0.3s ease, background-color 0.3s ease, border 0.3s ease, border-radius 0.3s ease;
}

.cuerpo2__checkbox-de-filtro{
    display: none;
}

.cuerpo2__filtro:hover {
    color: var(--color-de-cuerpo-y-letra);
    background-color: var(--color-de-caja-y-titulo);
    border: 0.5rem solid var(--color-de-cuerpo-y-letra);
    border-radius: 2rem;
}

.cuerpo2__producto{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 2rem;
    padding: 2rem;
    align-items: center;
    justify-content: space-around;
    color: var(--color-de-cuerpo-y-letra);
    background-color: var(--color-de-caja-y-titulo);
    border: 1rem solid var(--color-de-borde);
    border-radius: 1rem;
}

.cuerpo2__imagen-producto{
    padding-bottom: 2rem;
}

.cuerpo2__imagen{
    width: 100%;
    border: 0.5rem solid var(--color-de-borde);
    border-radius: 2rem;
}

.cuerpo2__nombre-boton{
    padding: 1rem 1rem 1rem 1rem;
    text-align: center;
    align-items: center;
    text-decoration: none;
    color: var(--color-de-caja-y-titulo);
    background-color: var(--color-de-cuerpo-y-letra);
    border-radius: 2rem;
    transition: transform 0.3s ease,  color 0.3s ease, background-color 0.3s ease, border 0.3s ease, border-radius 0.3s ease;
}

.cuerpo2__nombre-boton:hover {
    transform: scale(1.1);
    color: var(--color-de-cuerpo-y-letra);
    background-color: var(--color-de-caja-y-titulo);
    border: 0.5rem solid var(--color-de-cuerpo-y-letra);
    border-radius: 2rem;
}

.cuerpo2__informacion-producto{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 2rem;
    padding: 2rem;
    color: var(--color-de-cuerpo-y-letra);
    align-items:center;
    background-color: var(--color-de-caja-y-titulo);
    border: 0.5rem solid var(--color-de-borde);
    border-radius: 1rem;
}

.cuerpo2__imagen-informacion-producto{
    width: 100%;
    border: 0.5rem solid var(--color-de-borde);
    border-radius: 2rem;
}

.cuerpo2__descripcion-producto{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cuerpo2__nombre-producto{
    padding: 2rem;
    font-size: 2rem;
    font-weight: bold;
}

.cuerpo2__descripcion{
    padding-bottom: 2rem;
}

.cuerpo2__div {
    display: flex;
    flex-direction: row;
}

.cuerpo2__boton-regreso{
    width: 4rem;
    margin: 0 0.5rem 0.5rem 2rem;
    padding: 1rem 1rem 1rem 1rem;
    text-align: center;
    align-items: center;
    font-weight: bold;
    text-decoration: none;
    color:var(--color-de-caja-y-titulo);
    background-color: var(--color-de-cuerpo-y-letra);
    border-radius: 2rem;
    transition: transform 0.3s ease,  color 0.3s ease, background-color 0.3s ease;
}

.cuerpo2__boton-regreso:hover{
    color: var(--color-de-cuerpo-y-letra);
    background-color: var(--color-de-caja-y-titulo);
    border: 0.5rem solid var(--color-de-cuerpo-y-letra);
}

.cuerpo__seccion-formulario{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 2rem;
    padding-right: 2rem;
    padding-left: 2rem;
    padding-bottom: 2rem;
    font-weight: bold;
    color: var(--color-de-cuerpo-y-letra);
    background-color: var(--color-de-caja-y-titulo);
    border: 0.5rem solid var(--color-de-borde);
    border-radius: 1rem;
}

.cuerpo__subtitulo-formulario{
    padding-top: 2rem;
    font-size: 2rem;
    font-weight: bold;
}

.cuerpo__caja-formulario{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background-color: var(--color-de-cuerpo-y-letra);
    border: 0.5rem solid var(--color-de-borde);
    border-radius: 1rem;
}

.cuerpo__imagen-formulario{
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.cuerpo__formulario{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-bottom: 1rem;
    align-items: center;
    color: var(--color-de-cuerpo-y-letra);
    background-color: var(--color-de-caja-y-titulo);
    border: 0.5rem solid var(--color-de-borde);
    border-radius: 2rem;
}

.cuerpo__campos {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.cuerpo__labels{
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
    align-items: center;
}

/*
.cuerpo__imagen-de-perfil{
    width: 10rem;
    height: 10rem;
    margin-top: 1rem;
    border: 0.1rem solid var(--color-de-borde);
    border-radius: 5rem;
}
*/

.cuerpo__contenedor{
    display: flex;
    padding-top: 1rem;
}

.cuerpo__campo-termino{
    padding: 1rem;
    text-align: center;
    align-items: center;
}

.cuerpo__campo-comfirmacion{
    padding-right: 1rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
    text-align: center;
    align-items: center;
}

.cuerpo__input {
    width: 50%;
    height: 3rem;
    color: var(--color-de-caja-y-titulo);
    background-color: var(--color-de-cuerpo-y-letra);
    border: 0.5rem solid var(--color-de-borde);
    border-radius: 1rem;
}

.cuerpo__subtitulo-red{
    padding-top: 2rem;
    color: var(--color-de-cuerpo-y-letra);
}

.cuerpo__red{
    width: 4rem;
}

.cuerpo3__galeria {
    display: flex;
    flex-direction: column;
    width: 75%;
    padding: 2rem;
    align-items: center;
    color: var(--color-de-cuerpo-y-letra);
    background-color: var(--color-de-caja-y-titulo);
    border: 0.5rem solid var(--color-de-borde);
    border-radius: 1rem;
}

.cuerpo3__url-imagen{
    width: 25%;
    height: 3rem;
    margin-top: 1rem;
    color: var(--color-de-caja-y-titulo);
    background-color: var(--color-de-cuerpo-y-letra);
    border: 0.5rem solid var(--color-de-borde);
    border-radius: 1rem;
}

.cuerpo3__botones{
    display: flex;
    flex-direction: row;
    padding: 1rem;
    text-align: center;
    align-items: center;
}

.cuerpo3__boton-agregar-imagen, .cuerpo3__boton-eliminar-imagen {
    padding: 0.5rem;
    color: var(--color-de-caja-y-titulo);
    background-color: var(--color-de-cuerpo-y-letra);
    border: 0.5rem solid var(--color-de-borde);
    border-radius: 1rem;
}

.cuerpo3__boton-agregar-imagen {
    margin-right: 0.5rem;
}

.cuerpo3.cuerpo3__boton-eliminar-imagen {
    margin-left: 0.5rem;
}

.cuerpo2__imagen2 {
    width: 50%;
    border: 0.5rem solid var(--color-de-borde);
    border-radius: 2rem;
}

.cuerpo2 p, .cuerpo2 button {
    font-weight: bold;
    font-size: 1rem;
    padding: 0.5rem;
}

.cuerpo2 button {
    margin: 0.5rem;
    color: var(--color-de-caja-y-titulo);
    background-color: var(--color-de-cuerpo-y-letra);
    border: 0.5rem solid var(--color-de-borde);
    border-radius: 1rem;
}

.pie{
    display: flex;
    flex-direction: row;
    height: 5rem;
    padding-left: 2rem;
    align-items: center;
    color: var(--color-de-caja-y-titulo);
    background-color: var(--color-de-cabecera-y-pie);
    border-top: 0.3rem solid var(--color-de-borde);
}

.pie__copyright{
    width: 1rem;
    height: 1rem;
}

@media (min-width: 1225px) {
    .cabecera__modo-oscuro{
        padding-left: 6rem;
        padding-right: 1rem;
        font-weight: bold;
    }

    .cabecera__boton-modo-oscuro:checked::before{
        transform: translateX(2rem);
    }

    .cabecera__boton-modo-oscuro{
        width: 4rem;
    }

    .cabecera__icono-menu, .cabecera__barra1, .cabecera__barra2, .cabecera__barra3 {
        display: none;
    }

    .cabecera__enlaces {
        display: flex;
        flex-direction: row;
        position: static;
        width: auto;
        height: auto;
        align-items: center;
        font-weight: bold;
        background-color: var(--color-de-cabecera-y-pie);
    }

    .cabecera__enlaces li {
        border-bottom: none;
    }

    .cabecera__enlaces li a {
        color: var(--color-de-caja-y-titulo);
    }

    .cuerpo, .cuerpo2, .cuerpo3{
        height: 100%;
        margin: 2rem;
    }

    /*MEJORAR PERSONALIZACION*/
    .cuerpo2__filtros {
        flex-direction: row;
        justify-content: center;
    }
    /*-----------------------*/

    /*MEJORAR PERSONALIZACION*/
    .cuerpo2__filtro {
        display: flex;
        flex-direction: row;
        padding-right: 0.5rem;
        padding-left: 0.5rem;
    }
    /*-----------------------*/

    .cuerpo2__productos {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    .cuerpo2__producto {
        width: 50%;
        margin: 1rem;
        padding-bottom: 2rem;
    }

    .cuerpo2__informacion-producto {
        flex-direction: row;
    }

    .cuerpo2__descripcion-producto{
        padding-left: 2rem;
    }

    .cuerpo2__descripcion{
        padding-right: 0;
    }

    .cuerpo__seccion-formulario{
        width: 75%;
    }

    .cuerpo__caja-formulario{
        display: flex;
        flex-direction: row;
        padding-top: 2rem;
        align-items: center;
    }

    .cuerpo__imagen-formulario{
        padding-right: 2rem;
    }
}