:root {
    --erie-black: #1f1f1f;
    --palatinate-blue: #333fff;
    --maize: #f2eb69;
    --anti-flash-white: #ebebeb
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    background-color: var(--erie-black);
}

.cabecera {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: var(--anti-flash-white);
    background-color: var(--palatinate-blue);
    border-bottom: 0.3rem solid var(--maize);
}

.cabecera__portada{
    display: flex;
    align-items: center;
}

.cabecera__logo{
    width: 5rem;
    height: 5rem;
    padding: 1rem;
}

.cabecera__navegador{
    display: flex;
    position: relative;
    padding-right: 1rem;
    align-items: center;
    justify-content: space-between;
}

.cabecera__navegador .cabecera__casilla-menu {
    display: none;
}

.cabecera__navegador .cabecera__icono-menu {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.cabecera__icono-menu .cabecera__barra1, .cabecera__barra2, .cabecera__barra3 {
    width: 2.25rem;
    height: 0.4rem;
    margin: 0.3rem 0;
    background-color: var(--anti-flash-white);
    transition: 0.4s;
}

.cabecera__casilla-menu:checked + .cabecera__icono-menu .cabecera__barra1 {
    transform: rotate(-45deg) translate(-0.5rem, 0.9rem);
}

.cabecera__casilla-menu:checked + .cabecera__icono-menu .cabecera__barra2 {
    opacity: 0;
}

.cabecera__casilla-menu:checked + .cabecera__icono-menu .cabecera__barra3 {
    transform: rotate(45deg) translate(-0.5rem, -0.9rem);
}

.cabecera__casilla-menu:checked ~ .cabecera__enlaces {
    display: flex;
}

.cabecera__enlaces {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 5rem;
    right: 0;
    font-weight: bold;
    background-color: var(--anti-flash-white);
}

.cabecera__enlaces li {
    padding: 1rem;
    text-align: center;
    list-style-type: none;
    border-bottom: 0.1rem solid var(--erie-black);
}

.cabecera__enlaces li a {
    text-decoration: none;
    color: var(--erie-black);
}

.cuerpo, .cuerpo3{
    display: flex;
    flex-direction: column;
    height: auto;
    margin: 2rem;
    align-items:center;
    text-align: center;
}

.cuerpo2{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 2rem;
    align-items:center;
    text-align: center;
}

.cuerpo__titulo, .cuerpo2__titulo, .cuerpo3__titulo{
    font-size: 4rem;
    color: var(--anti-flash-white);
}

.cuerpo__caja, .cuerpo3__caja {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: 2rem;
    padding: 2rem;
    color: var(--erie-black);
    background-color: var(--anti-flash-white);
    border: 0.5rem solid var(--maize);
    border-radius: 1rem;
}

.cuerpo__subtitulo, .cuerpo3__subtitulo{
    font-size: 2rem;
}

.cuerpo__texto, .cuerpo3__texto, .cuerpo__imagen-caja{
    padding-top: 2rem;
}

.cuerpo__imagen{
    width: 100%;
    border: 0.5rem solid var(--maize);
    border-radius: 2rem;
}

.cuerpo2__productos{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.cuerpo2__producto{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 2rem;
    padding: 2rem;
    align-items: center;
    justify-content: space-around;
    color: var(--erie-black);
    background-color: var(--anti-flash-white);
    border: 1rem solid var(--maize);
    border-radius: 1rem;
}

.cuerpo2__imagen-producto{
    padding-bottom: 2rem;
}

.cuerpo2__imagen{
    width: 100%;
    border: 0.5rem solid var(--maize);
    border-radius: 2rem;
}

.cuerpo2__nombre-boton{
    padding-top: 0.5rem;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-bottom: 0.5rem;
    text-align: center;
    align-items: center;
    text-decoration: none;
    color: var(--anti-flash-white);
    background-color: var(--erie-black);
    border-radius: 2rem;
    transition: transform 0.3s ease,  color 0.3s ease, background-color 0.3s ease, border 0.3s ease, border-radius 0.3s ease;
}

.cuerpo2__nombre-boton:hover {
    transform: scale(1.1);
    color: var(--erie-black);
    color:var(--erie-black);
    background-color: var(--anti-flash-white);
    border: 0.5rem solid var(--erie-black);
    border-radius: 2rem;
}

.cuerpo2__informacion-producto{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 2rem;
    padding: 2rem;
    color: var(--erie-black);
    align-items:center;
    background-color: var(--anti-flash-white);
    border: 0.5rem solid var(--maize);
    border-radius: 1rem;
}

.cuerpo2__imagen-informacion-producto{
    width: 100%;
    border: 0.5rem solid var(--maize);
    border-radius: 2rem;
}

.cuerpo2__descripcion-producto{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cuerpo2__nombre-producto{
    padding: 2rem;
    font-size: 2rem;
    font-weight: bold;
}

.cuerpo2__descripcion{
    padding-bottom: 2rem;
}

.cuerpo2__boton-regreso{
    width: 4rem;
    margin-bottom: 2rem;
    padding-top: 0.5rem;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-bottom: 0.5rem;
    text-align: center;
    align-items: center;
    font-weight: bold;
    text-decoration: none;
    color:var(--anti-flash-white);
    background-color: var(--erie-black);
    border-radius: 2rem;
    transition: transform 0.3s ease,  color 0.3s ease, background-color 0.3s ease, border 0.3s ease, border-radius 0.3s ease;
}

.cuerpo2__boton-regreso:hover{
    transform: scale(1.1);
    color: var(--erie-black);
    color:var(--erie-black);
    background-color: var(--anti-flash-white);
    border: 0.5rem solid var(--erie-black);
    border-radius: 2rem;
}

.cuerpo__seccion-formulario{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 2rem;
    padding-right: 2rem;
    padding-left: 2rem;
    padding-bottom: 2rem;
    font-weight: bold;
    color: var(--erie-black);
    background-color: var(--anti-flash-white);
    border: 0.5rem solid var(--maize);
    border-radius: 1rem;
}

.cuerpo__subtitulo-formulario{
    padding-top: 2rem;
    font-size: 2rem;
    font-weight: bold;
}

.cuerpo__caja-formulario{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background-color: var(--erie-black);
    border: 0.5rem solid var(--maize);
    border-radius: 1rem;
}

.cuerpo__imagen-formulario{
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.cuerpo__formulario{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-bottom: 1rem;
    align-items: center;
    color: var(--erie-black);
    background-color: var(--anti-flash-white);
    border: 0.5rem solid var(--maize);
    border-radius: 2rem;
}

.cuerpo__campos{
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
    align-items: center;
}

.cuerpo__campo-termino{
    padding: 1rem;
    text-align: center;
    align-items: center;
}

.cuerpo__campo-comfirmacion{
    padding-right: 1rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
    text-align: center;
    align-items: center;
}


.cuerpo__input{
    width: 50%;
    height: 3rem;
    color: var(--anti-flash-white);
    background-color: var(--erie-black);
    border: 0.5rem solid var(--maize);
    border-radius: 2rem;
}

.cuerpo__subtitulo-red{
    padding-top: 2rem;
    color: var(--erie-black);
}

.cuerpo__red{
    width: 4rem;
}

.pie{
    display: flex;
    flex-direction: row;
    height: 5rem;
    padding-left: 2rem;
    align-items: center;
    color: var(--anti-flash-white);
    background-color: var(--palatinate-blue);
    border-top: 0.3rem solid var(--maize);
}

.pie__copyright{
    width: 1rem;
    height: 1rem;
}

@media (min-width: 768px) {
    .cabecera__icono-menu, .cabecera__barra1, .cabecera__barra2, .cabecera__barra3 {
        display: none;
    }

    .cabecera__enlaces {
        display: flex;
        flex-direction: row;
        position: static;
        width: auto;
        height: auto;
        align-items: center;
        font-weight: bold;
        background-color: var(--palatinate-blue);
    }

    .cabecera__enlaces li {
        border-bottom: none;
    }

    .cabecera__enlaces li a {
        color: var(--anti-flash-white);
    }

    .cuerpo, .cuerpo2 {
        height: 100%;
        margin: 2rem;
    }

    .cuerpo3 {
        height: 43.28rem;
    }

    .cuerpo2__productos {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    .cuerpo2__producto {
        width: 50%;
        margin: 1rem;
        padding-bottom: 2rem;
    }

    .cuerpo2__informacion-producto {
        flex-direction: row;
    }

    .cuerpo2__descripcion-producto{
        padding-left: 2rem;
    }

    .cuerpo2__descripcion{
        padding-right: 0;
    }

    .cuerpo__seccion-formulario{
        width: 75%;
    }

    .cuerpo__caja-formulario{
        display: flex;
        flex-direction: row;
        padding-top: 2rem;
        align-items: center;
    }

    .cuerpo__imagen-formulario{
        padding-right: 2rem;
    }
}